langchain
python-dotenv  
langchain-community
langchain-text-splitters
langchain-openai
ipykernel
faiss-cpu
chromadb
streamlit
langchain_groq
langchain-chroma
langchain_huggingface
sentence_transformers 
pandas 
openai
langchain-experimental
pypdf
duckduckgo-search
pymupdf
arxiv
wikipedia
langchain_ollama